<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="jquery">
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/additional-methods.min.js"></script>
		<link rel="stylesheet" href="/css/jquery-ui.min.css" />
	</div>

	<div th:fragment="bootstrap">
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
	</div>
	
	<div th:fragment="datepicker"> 
		<script> $( function() { $("#datepicker").datepicker(); } ); </script>
	</div>

	<div th:fragment="validation">
		<script>					
			$(document).ready(function() {
				$('#insertRecordForm').validate({
					rules : {
						name : {
							required : true,
							maxlength: 25
						},
						pps : {
							required : true,
							remote: {
    							type: 'get',
    							url: 'http://localhost:8080/isPpsAvailable',
    							data: {
        							'pps': function () { return $('#pps').val(); }
    							},
    							dataType: 'json'
							}
						},
						dob : {
							required : true
						},
						mobile : {
							pattern: /^08(\d){8}$/
						}
					},
					messages : {
						name : {
							required : "Please fill out this field",
							maxlength : "Name must only contain 25 characters"
						},
						pps : {
							required : "Please fill out this field",
							remote: "PPS Number already exists"
						},
						dob : {
							required : "Please fill out this field"
						},
						mobile : {
							pattern : "Mobile must be of format 08XXXXXXXX"
						}
					}
				});
			});
		</script>
	</div>
</body>
</html>